<template>
    <InfoCard>
        <template v-slot:header>
            <h2>Compétences et CV</h2>
        </template>
        <template v-slot>
            <ul>
                <li>Linux</li>
                <li>Java</li>
                <li>VueJs</li>
                <li>Docker</li>
                <li>Git</li>
                <li>Python</li>
                <li>REST</li>
            </ul>
            <v-btn
                class="mt-3"
                href="/VAN_DE_WALLE_Hubert_CV.pdf"
                color="secondary"
                >Mon CV</v-btn
            >
        </template>
    </InfoCard>
</template>

<script>
import InfoCard from '@/components/InfoCard'

export default {
    name: 'Skills',
    components: { InfoCard }
}
</script>
